
// ヘッダー
.header{
  &_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    width: 92%;
    height: 70px;
    background-color: $cWhite;
  }

  &_logo{
    display: flex;
    align-items: center;
    &_img{
      width: 50px;
      height: 50px;
      margin-right: 18px;

      img {
        object-fit: cover;
      }
    }
  }

  &_right{
    display: flex;
    align-items: center;

    nav ul{
      display: flex;

      li{
        padding-right: 28px;
      }
      .hide{
        display: none;
        @include mq(tb){
          display: list-item
        }
      }
    }

    .reservation_link{
      @include btn;
      @include mq(sp){
        display: none;
      }
    }
  }
}


// セクションタイトル
.section_title {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 40px;

  h3{
    font-size: 32px;
    color: $cGreen;
    margin-bottom: 8px;
    @include mq(sp){
      font-size: 24px;
    }
  }
  span{
    font-size: 24px;
    color: $cGreen_light;
    font-weight: bold;
    @include mq(sp){
      font-size: 18px;
    }
  }
}

// フッター
.copyright{
  background-color: $cGreen;

  p{
    text-align: center;
    line-height: 3;
    color: $cWhite;
    font-size: 12px;
  }
}