$cBlack: #333;
$cWhite: #fff;
$cWhite-thin: rgba(255, 255, 255, .1);
$cWhite-bg: rgba(255, 255, 255, .8);
$cGreen_light: #71CC14;
$cGreen: #559932;
$cRed: #880000;
$cbg: #F2F2F2;

$font: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;