
$breakpoint: (
  'sp':'screen and (max-width: 480px)',
  'tb':'screen and (max-width: 768px)',
  'pc':'screen and (max-width: 1024px)',
);

@mixin mq($bp){
  @media #{map-get($breakpoint, $bp)} {
    @content; 
  }
}
// 呼び出し @include mq(サイズ');


@mixin btn{
  a {
    padding: 14px 10px;
    background-color: $cGreen;
    color: $cWhite;
    border: 1px solid $cWhite;
    transition: .3s;

    &:hover{
      color: $cGreen;
      background-color: $cWhite;
      border: 1px solid $cGreen;
      box-sizing: border-box;
    }
  }
}