.access{
  &_wrapper{
    position: relative;
    background-color: $cWhite;

    @include mq(tb){
      display: flex;
      flex-direction: column-reverse;
      height: 750px;
    }
    @include mq(sp){
      height: 647px;
    }
  }

  &_logo{
    display: flex;
    align-items: center;
    &_img{
      margin-right: 18px;
      margin-bottom: 14px;
      width: 50px;
      height: 50px;
      img {
        object-fit: cover;
      }
    }
  }

  &_content {
    position: absolute;
    top: 30px;
    left: 50px;
    max-width: 560px;

    @include mq(tb){
      position: initial;
      margin: 50px auto;
    }
  }
  
  &_map {
    overflow: hidden;
    margin-left: 650px;
    width: calc(100% - 650px);
    height: 400px;

    @include mq(tb){
      margin-left: 0;
      width: 100%;
    }
    @include mq(sp){
      height: 300px;
    }

    iframe {
      margin-top: -150px;
      width: 100%;
      height: 700px;

      @include mq(sp){
        height: 600px;
      }
    }
  }
}

.biz_hour {
  display: block;
  margin-top: 24px;
  border-collapse: collapse;
  

  th {
    border-top: 1px solid $cGreen;
    font-weight: normal;
  }

  th, td {
    padding: 10px 20px;
    border-bottom: 1px solid $cGreen;
    text-align: center;

    @include mq(sp){
      padding: 5px;
    }
  }
  
  tr:nth-child(2){
    td {
      border-bottom: none;
    }
  }

  td {
    color: $cGreen;
    &:nth-child(1){
      color: $cBlack;
    }
  }
}