.concept {
  &_content{
    position: relative;
    background-image: url('/images/concept_img.jpg');
    background-size: cover;
    background-position: 50% 20%;

    height: 540px;
    &::after{
      content: '';
      background-color: rgba(255,255,255,.6);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    }


  &_text{
    position: absolute;
    z-index: 2;
    right: 5%;
    top: calc(50% - 160px);
    width: 600px;
    p {
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}