.top {
  // position: fixed;
  z-index: -3;
  padding-top: 70px;
  width: 100%;
  background-color: transparent;

  &_wrapper {
    position: relative;
    height: calc(100vh - 70px);
    img {
      height: 100%;

      object-fit: cover;
    }
  }

  &_text {
    position: absolute;
    bottom: 8%;
    left: 7%;
    background-color: rgba(255,255,255,.8);
    padding: 8px 16px;
  }
}