@charset "UTF-8";

@import "../base/reset";
@import "../base/base";
@import "../config";
@import "../mixin";
@import "../animation";
@import "../common";

.top {
  margin-top: 70px;
  width: 100%;
  height: 300px;
  background-color: $cGreen;

  h2{
    padding-top: 120px;
    color: $cWhite;
    text-align: center;
  }
}

.reservation{
  padding-bottom: 300px;
  span{
    color: $cRed;
  }

  &_text{
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
  }

  &_form{
    position: relative;
    margin: 0 auto;
    max-width: 550px;
    @include mq(tb){
      max-width: 365px;
    }
    @include mq(sp){
      max-width: 265px;
    }

    &_title{
      font-weight: bold;
      font-size: 18px;
    }

    &_box {
      position: absolute;
      left: 200px;
      padding-left: 8px;
      width: 350px;
      height: 28px;
      font-size: 18px;
      @include mq(tb){
        left: 0;
        margin-top: 34px;
      }
      @include mq(sp){
        width: 250px;
      }
    }

    .menu{
      width: 200px;
      height: 34px;
    }

    .date{
      width: 188px;
      height: 30px;
    }

    &_textarea {
      position: absolute;
      left: 200px;
      width: 358px;
      height: 200px;
      font-size: 18px;
      @include mq(tb){
        left: 0;
        margin-top: 34px;
      }
      @include mq(sp){
        width: 258px;
      }
    }
  }

  &_box{
    margin-bottom: 30px;
    @include mq(tb){
      margin-bottom: 56px;
    }
  }

  &_btn{
    position: absolute;
    bottom: -280px;
    left: calc(50% - 73px);
    padding: 18px 36px;
    border: 1px solid $cWhite;
    background-color: $cGreen;
    color: $cWhite;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    transition: .3s;
    @include mq(tb){
      bottom: -290px;
    }

    &:hover{
      box-sizing: border-box;
      border: 1px solid $cGreen;
      background-color: $cWhite;
      color: $cGreen;
      cursor: pointer;
    }
  }
}