@charset "UTF-8";

@import "../base/reset";
@import "../base/base";
@import "../config";
@import "../mixin";
@import "../animation";
@import "../common";

.top {
  margin-top: 70px;
  width: 100%;
  height: 300px;
  background-color: $cGreen;

  h2{
    padding-top: 120px;
    color: $cWhite;
    text-align: center;
  }
}

.reservation{
  padding-bottom: 100px;
  text-align: center;
  span{
    color: $cRed;
  }

  &_text{
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
  }

  &_form{
    margin: 0 auto;
    max-width: 512px;

    @include mq(tb){
      max-width: 365px;
    }
    @include mq(sp){
      max-width: 265px;
    }

    &_title{
      font-weight: bold;
      font-size: 22px;

      @include mq(sp){
        font-size: 18px;
      }
    }

    &_box {
      margin-top: 0;
      padding: 8px 0 8px 8px;
      width: 500px;
      height: 28px;
      font-size: 20px;

      @include mq(tb){
        padding: 4px 0 4px 8px;
        width: 350px;
      }
      @include mq(sp){
        width: 250px;
        font-size: 14px;
      }
    }

    .menu{
      width: 200px;
      height: 48px;
    }

    .date{
      width: 188px;
      height: 28px;
    }

    &_textarea {
      padding: 8px;
      width: 494px;
      height: 200px;
      font-size: 18px;

      @include mq(tb){
        width: 358px;
      }
      @include mq(sp){
        width: 258px;
        font-size: 14px;
      }
    }
  }

  &_box{
    margin-bottom: 24px;
    text-align: left;
    .block{
      display: block;
    }
  }

  &_btn{
    margin: 24px auto 0;
    padding: 18px 36px;
    border: 1px solid $cWhite;
    background-color: $cGreen;
    color: $cWhite;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    transition: .3s;

    &:hover{
      box-sizing: border-box;
      border: 1px solid $cGreen;
      background-color: $cWhite;
      color: $cGreen;
      cursor: pointer;
    }
  }
}